.chat-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: white; /* Sfondo per la barra di input */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombra per effetto visivo */
    border-top: 1px solid #ddd; /* Bordo sopra la barra di input */
}

.emoji-picker-container {
    position: absolute;
    bottom:74px;

}